.widget-area {
	display: inherit;
	width: 100%;
	color: black;
	overflow: hidden;
	@include respond-to() {
		width: $size__site-full;
	}
	.widget_recent_comments{
		ul{
			li{
				span{
					margin-left: 5px;
				}
			}
		}
	}
	.widget {
		ul {
			list-style: none;
		}
	}
}
